@model MVCMusicStore.Models.Review

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Review</legend>

        @Html.HiddenFor(model => model.ReviewID)

        <div class="editor-label">
            @Html.LabelFor(model => model.AlbumID, "Album")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AlbumID", String.Empty)
            @Html.ValidationMessageFor(model => model.AlbumID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contenido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contenido)
            @Html.ValidationMessageFor(model => model.Contenido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RevisarEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RevisarEmail)
            @Html.ValidationMessageFor(model => model.RevisarEmail)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
